<app-header></app-header>

<div class="container bg-color py-5">
  <div class="col-md-10">
    <div class="form-area">
      <form role="form">
        <br style="clear: both" />
        <h3 style="margin-bottom: 25px; text-align: center">
          Driver Profile Form
        </h3>
        <div class="form-group">
          <label for="exampleInputEmail1">Driver Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Driver Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Vehicle name/number</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="email"
            name="email"
            placeholder="Vehicle name/number"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Average Per KM</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="mobile"
            name="mobile"
            placeholder="Average Per KM"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Total Rate KM</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Total Rate KM"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Additional KM</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Additional KM"
            required
          />
        </div>

        <div class="border-top my-5"></div>

        <div class="form-group">
          <label for="exampleInputEmail1"
            >Outreading - Inreading difference</label
          >
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Outreading - Inreading difference"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Fuel Consumed</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Fuel Consumed"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Remaining Fuel</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Remaining Fuel"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Remaining KM</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Remaining KM"
            required
          />
        </div>
        <div class="border-top my-5"></div>
        <div class="form-group">
          <label for="exampleInputEmail1">Fuel Tank Capacity</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Fuel Tank Capacity"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Fuel Tank Capacity</label>
          <input
            type="date"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Fuel Tank Capacity"
            required
          />
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Oil Change alert</label
          >
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Per Month Cost of Fuel</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Per Month Cost of Fuel"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Accident Description</label>
          <textarea
            class="form-control"
            type="textarea"
            id="message"
            placeholder="Message"
            maxlength="140"
            rows="4"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Maintaince Parts</label>
          <textarea
            class="form-control"
            type="textarea"
            id="message"
            placeholder="Message"
            maxlength="140"
            rows="4"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Maintaince Cost</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Maintaince Cost"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Challen Price</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Challen Price"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Challen Date</label>
          <input
            type="date"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Challen Date"
            required
          />
        </div>
        <div class="border-top my-5"></div>
        <div class="form-group">
          <label for="exampleInputEmail1">Driver CNIC</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Driver CNIC"
            required
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">License Number</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="License Number"
            required
          />
        </div>

        <button
          type="button"
          id="submit"
          name="submit"
          class="btn btn-primary pull-right mt-5"
        >
          Submit Form
        </button>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
